<div class="row">
  <div class="span6 offset3">
    <%= form_for(@consumption) do |f| %>
        <% if @consumption.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@consumption.errors.count, "error") %> prohibited this consumption from being saved:</h2>

              <ul>
                <% @consumption.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field selectbox">
          <%= f.label 'Select Job' %>
          <%= f.collection_select :job_id, Job.all, :id, :name %><br />
        </div>
        <div class="field selectbox">
          <%= f.label 'Select Resource' %>
          <%= f.collection_select :resource_id, Resource.all, :id, :name %><br />
        </div>
        <div class="field">
          <%= f.label 'Consumption' %>
          <%= f.text_field :consumption %><br />
        </div>

        <div class="actions">
          <%= f.submit 'Save Consumption' %>
        </div>
    <% end %>
  </div>
</div>