<h1>Consumptions</h1>
<table class="table" id="consumptions">
  <tr>
    <th>Job</th>
    <th>Ressource</th>
    <th>Consumption</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.job.name %></td>
        <td><%= consumption.resource.name %></td>
        <td><%= consumption.consumption %></td>
        <td><%= link_to 'Show', consumption %></td>
        <td><%= link_to 'Update', edit_consumption_path(consumption) %></td>
        <td><%= link_to 'Destroy', consumption, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Create a new Consumption', new_consumption_path %><br> <br>

<div class="navigation-left" style="float:left">
  &lArr;  <%= link_to 'Go Back to Relations', relations_path %>  </div>
<br>
<div class="navigation-left" style="float:left">
  &lArr; <%= link_to  'Go to Main menu', current_user %>    </div><br>
<div class="nagigation-left" style="float:left">
  &lArr; <%= link_to  'Go to Update menu', current_user %>    </div>